.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7393B3;
    font-size: 20px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
  }
  
  .menu li:not(:last-child) {
      margin-right: 10px;
  }
  
  .menu li:last-child {
      margin-left: auto;
  }
  
  .menu li {
    float: left;
  }
  
  .menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .menu li a:hover {
    background-color: #111;
  }
