body{ 
  background-color:  #dce4eb; }

.GFG {
  background-color: white;
  border: 2px solid black;
  color: green;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 10px 30px;
  cursor: pointer;
}

.GFG:hover{
  background-color: #4CAF50;
  color: white;
}

.desc{
  font-size: 30px;

}