body{ 
  background-color:  #dce4eb; 
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7393B3;
  font-size: 20px
}
body,h1,h2,h3,h4,h5 {
  font-family:  sans-serif
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}
h1 {
  text-align: center;
}

h4{
  text-align: center;
}

.container {
  display: flex;
  justify-content: right;
  align-items: center;
}

.active{
  font-family:  sans-serif
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7393B3;
  font-size: 20px
}
.menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.menu li:not(:last-child) {
	margin-right: 10px;
}

.menu li:last-child {
	margin-left: auto;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
