<head>
  {% load bootstrap5 %}
  {% load socialaccount %}
  {% load static %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <html lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'CavQuest_app/index.css' %}">
  <link rel="stylesheet" href="{% static 'CavQuest_app/navbar.css' %}">
</head>
<body>
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar  w3-card w3-left-align w3-large" style="background-color:#234650;">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large "  href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>

  </div>

  <!-- Navbar on small screens -->

</div>

<!-- Header -->
<header class="w3-container w3-center" style="padding:128px 16px; background-color: #6BB6CA">
    <h1 class="w3-margin w3-jumbo">CAVQUEST</h1>
    <p class="w3-xlarge">Discover, Explore, Conquer – The Ultimate Scavenger Hunt Adventure Awaits!</p>
    <a class="login_button" href="{% provider_login_url 'google' %}">Login With Google</a>

</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-twothird">
            <h1>CavQuest</h1>
            <h5 class="w3-padding-32">Welcome to CavQuest! CavQuest is a UVA Scavenger
                Hunting app where you can find cool places and things on grounds, and learn
                more history and facts about them too!</h5>


        </div>

    <div class="w3-third w3-center">
      <img src="https://b.kisscc0.com/20180815/btq/kisscc0-treasure-map-road-map-world-map-trip-5b745a95b94184.1978381015343520217588.png" style="width:95%">
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-third w3-center">
            <img src="https://static.thenounproject.com/png/355658-200.png" width="300">
        </div>

    <div class="w3-twothird">
      <h1>Explore the Rich Heritage of UVA with CavQuest</h1>
      <h5 class="w3-padding-32">With our app, embark on a journey to uncover the hidden stories behind each iconic building and learn intriguing facts that even some locals might not know. CavQuest transforms every exploration into an interactive and educational experience, connecting you deeply with the rich history and heritage of UVA. It's not just about the destination, but the fascinating stories and knowledge you'll gain along the way. </h5>


        </div>
    </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Team B-10</h1>
</div>


</body>
</html>