<!-- templates/user_profile.html -->
<html>

{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<link rel="stylesheet" href="{% static 'CavQuest_app/user_profile.css' %}">
<head>
    <title>User Profile</title>
    <link rel="stylesheet" href="{% static 'CavQuest_app/user_profile.css' %}">
    <link rel="stylesheet" href="{% static 'CavQuest_app/navbar.css' %}">
</head>
<body>
    <ul class="menu">
        <li><a class="active" href="{% url 'homepage_loggedin' %}">Home</a></li>
        <li><a class="active" href="{% url 'CavQuest_app:user_profile' %}">Profile</a></li>
        <li><a class="active" href="{% url 'CavQuest_app:tutorial' %}">Tutorial</a></li>
        <li><a class="active" href="{% url 'CavQuest_app:about' %}"> About</a></li>
        <li><a class="active" href="{% url 'CavQuest_app:logout_view' %}">Logout</a></li>
    </ul>

    <div class="profile-container">
        <div class="profile-header"></div>
        <img id="avatar-preview" src="{% if user.userprofile.profile_picture %}{{ user.userprofile.profile_picture.url }}{% else %}{% static 'images/default-avatar.png' %}{% endif %}" alt="User Avatar" class="user-avatar">
        <div class="user-information">
            <h4><b>{{ user.username }}</b></h4>
            <p>{{ user.email }}</p>
            <h2>Completed Tasks</h2>
                <h3>
                    {% for task in completed_tasks %}
                    <h4>{{ task.task_text }}</h4>
                    {% endfor %}
                </h3>
            <h3>In-Progress Tasks</h3>
                <h4>
                    {% for user_task in user_tasks %}
                    <p>
                        {{ user_task.task.task_text }}
                        <a href="{% url 'CavQuest_app:start_task' user_task.task.id %}">Resume Task</a>
                    </p>
                    {% endfor %}
                </h4>
        </div>
<button id="edit-profile-button" class="btn btn-primary">Edit Profile</button>

<div id="edit-profile-modal" class="modal">

  <div class="modal-content">
    <span class="close">&times;</span>
      <form id="edit-profile-form" method="post" action="{% url 'CavQuest_app:change_username' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3">
          <label for="new_username" class="form-label">Change your username</label>
            <input type="text" class="form-control" id="new_username" name="new_username" placeholder="Enter new username">
      </div>
      <div class="mb-3">
          <label for="profile_picture" class="form-label">Upload Profile Picture</label>
          <input type="file" class="form-control" id="profile_picture" name="profile_picture" onchange="previewFile()">
      </div>
        {% if messages %}
        <div class="alert-container">
            {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
      <button type="submit" class="btn btn-outline-secondary">Save Changes</button>
    </form>
  </div>

</div>
    </div>



    <script>
        document.getElementById('edit-profile-form').addEventListener('submit', function(event) {
            event.preventDefault();

            var formData = new FormData(this);
            fetch('{% url "CavQuest_app:change_username" %}', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                },
            })
            .then(response => response.json())
            .then(data => {
                if (data.username_taken) {
                    alert('Username already taken.');
                } else {
                    modal.style.display = "none";
                    window.location.reload();
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
        var modal = document.getElementById("edit-profile-modal");

        var btn = document.getElementById("edit-profile-button");

        var span = document.getElementsByClassName("close")[0];

        btn.onclick = function() {
          modal.style.display = "block";
        }

        span.onclick = function() {
          modal.style.display = "none";
        }

        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
        function previewFile() {
          var preview = document.getElementById('avatar-preview'); // Selects the image
          var file    = document.getElementById('profile_picture').files[0]; // Selects the input
          var reader  = new FileReader();

          reader.onloadend = function () {
            preview.src = reader.result;
          }

          if (file) {
            reader.readAsDataURL(file);
          } else {
            preview.src = "{% static 'images/default-avatar.png' %}";
          }
       }
    </script>
</body>
</html>
